body {
  background: #c2e59cc9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #abd3f4eb,
    #c2e59cc9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #abd3f4eb,
    #c2e59cc9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

h1,
h2 {
  font-size: 1.5rem;
}

h1 {
  background-color: #55802883;
  color: #f3feec;
  padding: 20px;

  font-family: STKaiti;
  font-size: 30px;
  text-align: center;
  text-shadow: -5px 3px 5px black;
}

h2 {
  text-align: center;
}

hr {
  background-color: rgba(0, 0, 0, 0.451);
  height: 2px;
  border: none;
}

.hrstyle {
  border: 1px solid #c0c0c0;
  margin-top: 50px;
}

p {
  text-indent: 2em;
  padding: 5px;
}

li {
  padding-bottom: 5px;
}

svg,
video {
  max-width: 100%;
  display: block;
}

img {
  display: block;
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

article {
  width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

.olbox {
  border: 2px solid rgb(134, 134, 134);
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
  }

  &::before {
    top: -5px;
    bottom: -5px;
    border-bottom: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
  }

  &:hover::after,
  &:hover::before {
    width: calc(100% + 9px);
    height: calc(100% + 9px);
  }
}

.picBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.titlebox {
  width: 500px;
  height: auto;
  border: 2px solid rgb(134, 134, 134);
  background-color: rgb(226, 158, 102);
  margin: 0 auto;
  transition: all 0.4s; /* Animation */

  position: relative;
  top: -30px;
}

.titlebox:hover {
  box-shadow: 5px 3px 5px black;
}

.container {
  display: flex;
  /* use flexbox to center the article / justify-content: center; / center horizontally / align-items: center; / center vertically / height: 100vh; / use the full viewport height */
}

.personInfo {
  text-align: right;
  font-size: 10px;
}

.note{
  text-align: center;
  margin-top: -20px;

  color: rgb(40, 40, 40);
}
