/* 这是CSS部分 */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;

  background-color: #fbfaf5;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  position: relative;
}

article {
  width: min(75ch, 100% - 4rem);
  margin-inline: auto;
  line-height: 30px;
  border-radius: 10px;
  position: relative;

  background-color: rgb(203, 229, 177);
  z-index: 1;
  overflow: hidden;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

h1 {
  color: #206328;
  font-family: Arial, sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-size: 26px;
  text-align: right;
}

p {
  color: #4e4e4e;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-indent: 2em;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: -5px 0 8px rgba(0, 0, 0, 0.2);
  position: block;

  background-color: rgb(246, 253, 248);
  border: 5px solid #49a04b;
  border-radius: 0.3em;
  z-index: 3;
}

.OnlyImg {
  margin: 0 auto;
  width: 93%;
  border-radius: 10px;
}

.Flower{
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: -50px;
  margin-left: -80px;

  background-image: url('../Images/two-passage/littleFlower.png');
  background-size: 100%;
  background-position:-450px -800px;
}

.chenguo{
  position: absolute;
  color: #323232;
  width: 100px;
  margin-top: -13px;
}

.title {
  width: 600px;
  height: 350px;
  margin: 0 auto;
  margin-top: -50px;

  background: url("../Images/two-passage/titleFlower.png") no-repeat;
  background-size: 75%;
  background-position: center center;
}

.title p {
  position: absolute;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  font-size: 2rem;
  font-weight: bold;
  margin-top: 80px;
  margin-left: 100px;

  color: white;
  text-shadow: 4px 1px 8px #1a1919;
}

.note {
  text-align: center;
  font-size: 15px;
  margin-top: -30px;
  margin-bottom: 5px;

  color: rgb(40, 40, 40);
}

.personInfo {
  width: 100%;
  height: 180px;
  margin: 0 auto;

  background-image: url("../Images/two-passage/Flowers.png");
  background-size: 100%;
  background-position: -200px -650px;
  background-repeat: space;
}

.specialP {
  position: absolute;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 450px;
  margin-top: 80px;

  color: white;
  text-shadow: 2px 0px 5px black;
  text-align: center;
}